<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2016, Emiliano Gioria - Andres Leonel Rico
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/RomanoDB</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password"></property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
    
	<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
	<property name="c3p0.acquire_increment">1</property>
	<property name="statementCacheNumDeferredCloseThreads">1</property>
	<property name="hibernate.c3p0.min_size">5</property>
	<property name="hibernate.c3p0.max_size">20</property>
  	<property name="hibernate.c3p0.timeout">300</property>
  	<property name="hibernate.c3p0.max_statements">0</property>
  	<property name="hibernate.c3p0.idle_test_period">300</property>
  
    <mapping class="proy.datos.entidades.Administrador" />
    <mapping class="proy.datos.entidades.Comentario" />
    <mapping class="proy.datos.entidades.Estado" />
    <mapping class="proy.datos.entidades.EstadoTarea" />
    <mapping class="proy.datos.entidades.Herramienta" />
    <mapping class="proy.datos.entidades.Maquina" />
    <mapping class="proy.datos.entidades.Material" />
    <mapping class="proy.datos.entidades.Operario" />
    <mapping class="proy.datos.entidades.Parte" />
    <mapping class="proy.datos.entidades.Pausa" />
    <mapping class="proy.datos.entidades.Pieza" />
    <mapping class="proy.datos.entidades.Proceso" />
    <mapping class="proy.datos.entidades.Tarea" />
    <mapping class="proy.datos.entidades.Usuario" />
    
  </session-factory>
</hibernate-configuration>